@using MVCShop.Views.Catalog
@model CatalogViewModel
<div class="container-fluid">
    <div class="row content">

        <div class="col-sm-12 main-list" style="background-color: #BA5536;">

            <partial name="~/Views/Partial/Catalog/_PagesCount.cshtml" for="PagesCount" />


            <div class="col-sm-11 menu_items">
                <div class="container mw-100">
                    <div class="d-flex flex-wrap justify-content-center">
                        @foreach (var toy in Model.Toys)
                        {
                            <div class="d-inline-block m-3 text-center">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/Images/NonPhoto.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@toy.Name</h5>
                                        <p class="card-text">@toy.Info</p>
                                        <p class="card-text">@toy.Price руб.</p>

                                        <form asp-action="ToyPage" asp-controller="Catalog" asp-route-id="@toy.Id">
                                            <button class="btn btn-primary w-100" type="submit">
                                                Подробнее
                                            </button>
                                        </form>
                                        <form class="buy" method="post">
                                            @*<form class="Buy" method="post" asp-action="Buy" asp-controller="Catalog" asp-route-id="@toy.Id">*@
                                            <button class="mt-2 btn btn-success w-100" type="button" onclick="buy(@toy.Id)">
                                                Купить
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>

                <partial name="~/Views/Partial/Catalog/_PagesCount.cshtml" for="PagesCount" />

            </div>
        </div>
        <div class="alert alert-success p-0 hide">
            Товар успешно добавлен в корзину
            @*<i class="bi bi-file-x-fill close-btn"></i>*@
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="40px" fill="currentColor" class="bi bi-file-x-fill close-btn" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z" />
            </svg>
        </div>
    </div>
</div>