@using MVCShop.Views.Catalog
@model CatalogViewModel
<div class="container-fluid">
    <div class="row content">

        <div class="col-sm-12 main-list" style="background-color: #BA5536;">

            <partial name="~/Views/Partial/Catalog/_PagesCount.cshtml" for="PagesCount" />


            <div class="col-sm-11 menu_items">
                <div class="container mw-100">
                    <div class="d-flex flex-wrap justify-content-center">
                        @foreach (var toy in Model.Toys)
                        {
                            <div class="d-inline-block m-3 text-center">
                                <div class="card" style="width: 18rem;">
                                    <img src="~/Images/NonPhoto.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@toy.Name</h5>
                                        <p class="card-text">@toy.Info</p>
                                        <p class="card-text">@toy.Price руб.</p>

                                        <form asp-action="ToyPage" asp-controller="Catalog" asp-route-id="@toy.Id">
                                            <button  class="btn btn-primary w-75" type="submit">
                                                Подробнее
                                            </button>
                                        </form>

                                        <form method="post" asp-action="Buy" asp-controller="Catalog" asp-route-id="@toy.Id" style="padding:8px;">
                                            <button class="btn btn-success w-75" type="submit">
                                                Купить
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <partial name="~/Views/Partial/Catalog/_PagesCount.cshtml" for="PagesCount" />
            </div>
        </div>
    </div>
</div>