@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MVCShop.Views.Basket
@model BasketViewModel
<div class="container slider">
    <div class="col">
        <table class="basket-tab">
            <tr>
                <th>Фото</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>
                    <a asp-action="DeleteAll" asp-controller="Basket" class="btn btn-primary w-100 bg-danger">Удалить Всё</a>
                </th>
            </tr>
            @if (Model.toys?.Any() == true)
            {
                @foreach (Toy toy in Model.toys)
                {
                    <tr>
                        <th><img height="200" src="~/Images/NonPhoto.png" class="w-75" alt="..."></th>
                        <th>@toy.Name</th>
                        <th>@toy.Info</th>
                        <th>@toy.Price</th>
                        <th>
                            <form asp-action="ToyPage" asp-controller="Catalog" asp-route-id="@toy.Id">
                                <button class="btn btn-primary w-100" type="submit">
                                    Подробнее
                                </button>
                            </form>
                            <a asp-action="DeleteToy" asp-controller="Basket" asp-route-id="@toy.Id" class="btn btn-primary w-100 bg-danger">Удалить</a>
                        </th>
                    </tr>
                }
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Общая стоимость:@Model.Price</th>
                <th>
                    <a asp-action="Buy" asp-controller="Basket" class="btn btn-primary w-100 bg-success">Купить</a>
                </th>
            </tr>
        </table>

    </div>
</div>